@charset "utf-8";

/* Noto Sans KR*/
@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
    src: url(/assets/css/com/font/NotoSansKR/NotoSansKR-Regular.eot); /*IE9 호환성 보기*/
    src: url(/assets/css/com/font/NotoSansKR/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(/assets/css/com/font/NotoSansKR/NotoSansKR-Regular.woff) format('woff'), /*표준 브라우저*/
		 url(/assets/css/com/font/NotoSansKR/NotoSansKR-Regular.woff2) format('woff2'); /* WOFF2 지원 브라우저 */
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: bold;
	font-weight: 700;
    src: url(/assets/css/com/font/NotoSansKR/NotoSansKR-Bold.eot); /*IE9 호환성 보기*/
    src: url(/assets/css/com/font/NotoSansKR/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(/assets/css/com/font/NotoSansKR/NotoSansKR-Bold.woff) format('woff'), /*표준 브라우저*/
		 url(/assets/css/com/font/NotoSansKR/NotoSansKR-Bold.woff2) format('woff2'); /* WOFF2 지원 브라우저 */
}

/* reset */
*, :before, :after {box-sizing: border-box;}
body {background-color: #fff;-webkit-text-size-adjust: none;}/* 뷰표트 변환시 폰트크기 자동확대 방지 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin: 0;padding: 0;}
fieldset,img {border: 0 none;}
dl,ul,ol,menu,li {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
input,select,textarea,button {font-size: 100%;vertical-align: middle;outline: none;}
button {border: 0 none;background-color: transparent;cursor: pointer;}
table {border-collapse: collapse;border-spacing: 0;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance: none; /* border-radius:0; */}
input:checked[type='checkbox'] {background-color: #666; -webkit-appearance: checkbox;}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance: button; /* border-radius:0; */}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px #fff inset; }
body,th,td,input,select,textarea,button {color: #353535;font-size: 14px;font-family:'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;letter-spacing: -0.01em;} /* color값은 디자인가이드에 맞게사용 */
a {color: inherit;text-decoration: none;outline: none;vertical-align: middle;}
a:active, a:hover {text-decoration: none;}
address,caption,cite,code,dfn,em,var {font-style: normal;font-weight: normal;}
img {max-width: 100%;vertical-align: middle;}

html, body {
    height: 100%;
}

#wrap {
    width: 100%;
    min-height: 100%;
    min-width: 280px;
    background-color: #F0F2F8;
}

#container {
    width: 100%;
    min-height: 100%;
    padding: 60px 0;
}

.find-pw-wrap {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 70px;
    background-color: #FFFFFF;
}

.find-pw-wrap .logo {
    text-align: center;
}

.find-pw-wrap .tit-wrap {
    margin: 48px auto 0;
    padding-bottom: 25px;
}

.find-pw-wrap .tit-wrap .pw-tit {
    position: relative;
    max-width: 570px;
    margin: 0 auto;
    padding-left: 125px;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.03em;
    word-break: keep-all;
    word-wrap: break-word;
}

.find-pw-wrap .tit-wrap .pw-tit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -52px;
    display: block;
    width: 105px;
    height: 105px;
    background: url(/assets/images/img-pw.png) no-repeat left center;
}

.find-pw-wrap .pw-cont-wrap {
    padding: 30px 20px 40px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #E0E0E0;
}

.find-pw-wrap .pw-cont {
    padding-bottom: 40px;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: #454545;
    letter-spacing: -0.03em;
    word-break: keep-all;
    word-wrap: break-word;
}

.find-pw-wrap .txt-ex {
    font-weight: 700;
    color: #0431C9;
    text-decoration: underline;
}

.find-pw-wrap .pw-inp-wrap {
    width: 430px;
    margin: 0 auto;
}

.pw-inp-wrap .pw-inp-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.pw-inp-wrap .pw-inp-cont + .pw-inp-cont {
    margin-top: 10px;
}

.pw-inp-wrap .pw-inp-cont .tit {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    font-weight: 700;
    font-size: 17px;
    margin-right: 10px;
}

.pw-inp-wrap .pw-inp-cont .pw-inp {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 300px;
    height: 35px;
    padding: 0 10px;
    background: #EFEFEF;
    border: 1px solid #D5D5D5;
    border-radius: 7px;
}

.find-pw-wrap .pw-caution {
    padding: 40px 55px 0;
}

.find-pw-wrap .pw-caution .txt-impc {
    position: relative;
    padding-left: 21px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
    color: #454545;
    word-break: keep-all;
    word-wrap: break-word;
}

.find-pw-wrap .pw-caution .txt-impc::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background: url(/assets/images/ico-impc.png) no-repeat center;
}

.find-pw-wrap .pw-caution ul {
    padding: 0 5px;
    color: #454545;
}

.find-pw-wrap .pw-caution ul li {
    margin: 8px 0;
    word-break: keep-all;
    word-wrap: break-word;
}

.find-pw-wrap .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    text-align: center;
}

.find-pw-wrap .btn-wrap .pw-btn {
    display: inline-block;
    width: 200px;
    height: 45px;
    margin: 0 2px;
    line-height: 45px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.find-pw-wrap .btn-wrap .pw-change-now {
    color: #FFFFFF;
    background-color: #0431C9;
}

.find-pw-wrap .btn-wrap .pw-change-later {
    color: #0431C9;
    background-color: #FFFFFF;
    border: 1px solid #0431C9;
}

@media screen and (max-width: 900px) {

    #wrap {background: #FFFFFF;}
    #container {padding: 0;}

    .find-pw-wrap {padding: 30px 18px;}
    .find-pw-wrap .tit-wrap .pw-tit {max-width: 470px; font-size: 28px;}
    .find-pw-wrap .pw-cont > br {display: none;}
    .find-pw-wrap .pw-caution {padding: 30px 20px 0;}

}

@media screen and (max-width: 530px) {

    .find-pw-wrap .tit-wrap {
        margin-top: 25px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .find-pw-wrap .tit-wrap .pw-tit {
        max-width: none;
        padding-left: 0;
        font-size: 21px;
        line-height: 27px;
        text-align: center;
    }

    .find-pw-wrap .tit-wrap .pw-tit::before {
        position: relative;
        top: auto;
        left: auto;
        display: block;
        margin: 0 auto 10px;
    }

    .find-pw-wrap .pw-cont-wrap {
        padding: 20px 0 30px;
        margin: 0 12px;
    }

    .find-pw-wrap .pw-cont {
        padding-bottom: 20px;
        font-size: 15px;
        text-align: left;
        line-height: inherit;
    }

    .find-pw-wrap .pw-inp-wrap {
        width: 100%;
    }

    .pw-inp-wrap .pw-inp-cont {
        display: block;
        width: 100%;
    }

    .pw-inp-wrap .pw-inp-cont .tit {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .pw-inp-wrap .pw-inp-cont .pw-inp {
        width: 100%;
    }

    .find-pw-wrap .pw-caution {
        padding: 30px 0 0;
    }

    .find-pw-wrap .pw-caution ul {
        padding: 0;
    }

    .find-pw-wrap .pw-caution ul li {
        margin: 15px 0 0;
    }

    .find-pw-wrap .btn-wrap {
        display: block;
        margin: 30px auto 0;
    }

    .find-pw-wrap .btn-wrap .pw-btn {
        display: block;
        margin: 10px auto 0;
    }

}