<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<title>Vision-X</title>
</head>


<body>
  <div class="home-area">

    <!-- //메인 페이지 및 about 페이지 -->
    <div class="content">
      <section class="con1 section" id="home">
        <div class="bg"></div>
        <div class="bg-left">
          <div class="bg-img"></div>
        </div>
        <video class="background-video" autoplay loop muted>
          <source src="./images/bg/CK_ta01060001840_1080p.mp4" type="video/mp4">
        </video>
        <div class="scroll-hint-down">
          <div class="mouse-scroll-down"></div>
          <span class="arrow"></span>
        </div>
        <div class="sec-con1">
          <h1 class="logo"></h1>
          <h2>test Vision-X Project: Visualizing and utilizing data through digital twin technology to provide intuitive
            insights.</h2>
          <ul class="sub-text">
            <li>
              <span class="title">
                Visualized in a Digital Twin
              </span>
            </li>
            <li>
              <span class="title">
                Data Visualization
              </span>
            </li>
            <li>
              <span class="title">
                Enhancing User Experience
              </span>
            </li>
            <li>
              <span class="title">
                Auto Geo Conversion
              </span>
            </li>
            <li>
              <span class="title">
                Decision Support
              </span>
            </li>
          </ul>
          <h3>Vision-X seamlessly integrates cutting-edge visualization techniques with advanced data analytics,
            creating
            a digital twin that brings clarity and understanding to complex data.</h3>
        </div>
      </section>

      <section class="con2 section" id="about-us">
        <div class="bg"></div>
        <video class="background-video1" autoplay loop muted>
          <source src="./images/bg/CK_ta01060000957_1080p.mp4" type="video/mp4">
        </video>
        <div class="sec-con2">
          <h2>ABOUT US</h2>
          <h3 class="ma-b20">The VISION-X project is Together with BASE-X, this is a project to more strongly connect
            an
            open and
            sustainable data and service ecosystem.
          </h3>
          <h3 class="ma-b70 h3-mb30 ma-b50">
            VISION-X complies with GAIA-X standards and provides better
            understanding, value and trust in data and service use. All data with addresses and locations can be
            visualized in a digital twin environment, providing an environment for integrity verification, statistics,
            analysis, and realistic digital conversion.
          </h3>
          <ul class="about-ul">
            <li>
              <div class="about-i-area"><i class="about-i1"></i></div>
              <div class="d-fl fl-c al-cen about-sub-t">
                <h5>Data Visualization</h5>
                <p>Visual representation of vast amounts of data generated in the GAIA-X ecosystem enables users to
                  easily
                  understand and utilize the data.</p>
              </div>
            </li>
            <li>
              <div class="about-i-area"><i class="about-i2"></i></div>
              <div class="d-fl fl-c al-cen about-sub-t">
                <h5>Enhancing User Experience</h5>
                <p>A simpler and more intuitive user interface facilitates easy navigation and analysis of data</p>
              </div>
            </li>
            <li>
              <div class="about-i-area"><i class="about-i3"></i></div>
              <div class="d-fl fl-c al-cen about-sub-t">
                <h5>Automatic Address and Location Conversion</h5>
                <p>All data containing addresses and locations can be visualized, allowing for quality and integrity
                  verification.</p>
              </div>
            </li>
            <li>
              <div class="about-i-area"><i class="about-i4"></i></div>
              <div class="d-fl fl-c al-cen about-sub-t">
                <h5>Decision Support</h5>
                <p>Statistics and analysis of data provide easy understanding and value, supporting effective
                  decision-making.</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

</body>

</html>